.title {
  font-size: 2.0rem;
  font-weight: bold;
}

.pad-left-right{
  padding-left:1rem;
  padding-right:1rem;
}

.panel-heading{
  background-color: rgba(145, 145, 16, 0.356);
  }

.panel-body{
  background-color: rgba(57, 66, 12, 0.356);

}
